<!DOCTYPE html>
<html>
<head>
    <title>Zitate erraten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <h2>Von welcher Person stammt das Zitat</h2>
        {% for result in results %}
            <h2>{{result['zitat']}}</h2>
        {% endfor %}

    <div class="search-box">
        <form method="POST">
            <input type="text" name="genre" placeholder="Enter genre (e.g., Rock, Pop, Jazz)" autofocus>
            <button type="submit">Search</button>
        </form>

    </div>

</body>
</html>