<!DOCTYPE html>
<html>
<head>
    <title>Zitate erraten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="title">
        <h2>Von welcher Person stammt das Zitat?</h2>
        <form method="GET">
            <input type="text" name="answer" placeholder="Enter your answer" autofocus>
            <button type="submit">Answer</button>
        </form>
        <form method="POST">
            {% for result in results %}
                <h2>{{result['zitat']}}</h2>
            {% endfor %}
            {% if results == [] %}
                <button type="submit">Get Zitat</button>
            {% elif results != [] %}
                <button type="submit">Neues Zitat</button>
            {% endif %}

        </form>
    </div>

    {% for autor in autor %}
        <h2>{{autor['autor']}}</h2>
    {% endfor %}

</body>
</html>