<!DOCTYPE html>
<html>
<head>
    <title>Zitate erraten</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="title">
        <h2>Von welcher Person stammt das Zitat?</h2>
         <form method="POST">
             {% if results == [] %}
                <button type="submit">Get Zitat</button>
             {% endif %}
            {% for result in results %}
                <h2>{{result['zitat']}}</h2>
            {% endfor %}
             {% if results != [] %}
                <button type="submit">Neues Zitat</button>
             {% endif %}

        </form>
        <form method="SUBMIT">
            <input type="text" name="answer" placeholder="Enter your answer" autofocus>
            <button type="submit">Search</button>
        </form>
    </div>

    {% for autor in autor %}
        <h2>{{autor['autor']}}</h2>
    {% endfor %}

</body>
</html>